$breadcrumb-item-font-size:                          14px;
$breadcrumb-item-color:                              #999;
$breadcrumb-item-hover-color:                        $global-color;
$breadcrumb-item-hover-text-decoration:              none;
$breadcrumb-item-active-color:                       $primary;

$breadcrumb-divider:                                 "›";
$breadcrumb-divider-margin-horizontal:               20px;
$breadcrumb-divider-font-size:                       17px;
$breadcrumb-divider-color:                           $breadcrumb-item-color;