<!-- section content begin -->
<div class="uk-section uk-section-secondary uk-padding-large uk-background-contain uk-background-bottom-center in-padding-large-vertical@s in-profit-3" data-src="{{root}}img/in-section-profit-3.png" data-uk-img>
    <div class="uk-container uk-margin-small-bottom">
        <div class="uk-grid-large" data-uk-grid>
            <div class="uk-width-1-2@m">
                <h2>We are committed to meeting your CFD and FX trading needs</h2>
                <p class="uk-text-lead">Excepteur occaeca cupidata non proident fugiat nulla pariatur quasi architecto beatae, sunt in culpa quila officia deserunt mollit anim id est aute laborum.</p>
            </div>
            <div class="uk-width-1-1">
                <div class="uk-child-width-1-2@s uk-child-width-1-4@m uk-margin-small-top" data-uk-grid>
                    <div>
                        <h1 class="uk-heading-bullet">
                            <span class="count" data-counter-end="250">0</span>M+
                        </h1>
                        <p>Lorem ipsum dolor sit odin amet consectetur adipisicing elit.</p>
                    </div>
                    <div>
                        <h1 class="uk-heading-bullet">
                            <span class="count" data-counter-end="90">0</span>%
                        </h1>
                        <p>Lorem ipsum dolor sit odin amet consectetur adipisicing elit.</p>
                    </div>
                    <div>
                        <h1 class="uk-heading-bullet">
                            <span class="count" data-counter-end="131">0</span>M+
                        </h1>
                        <p>Lorem ipsum dolor sit odin amet consectetur adipisicing elit.</p>
                    </div>
                    <div>
                        <h1 class="uk-heading-bullet">
                            <span class="count" data-counter-end="35">0</span>M+
                        </h1>
                        <p>Lorem ipsum dolor sit odin amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->