<!-- section content begin -->
<div class="uk-section uk-section-muted uk-padding-large in-padding-large-vertical@s in-profit-6">
    <div class="uk-container uk-margin-small-bottom">
        <div class="uk-grid uk-flex uk-flex-center" data-uk-grid>
            <div class="uk-width-1-1 uk-text-center">
                <h2>Supporting Traders from over 48 Countries</h2>
            </div>
            <div class="uk-grid-divider uk-child-width-1-2@s uk-child-width-1-3@m" data-uk-grid>
                <div>
                    <div class="uk-flex uk-flex-left uk-flex-middle">
                        <div class="uk-margin-medium-right">
                            <h1 class="uk-heading-small uk-margin-remove-bottom uk-text-primary">$76+</h1>
                        </div>
                        <div>
                            <h3 class="uk-margin-small-bottom">Billion</h3>
                            <p class="uk-margin-remove uk-text-small uk-text-uppercase">Trading volume per month</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-flex uk-flex-left uk-flex-middle">
                        <div class="uk-margin-medium-right">
                            <h1 class="uk-heading-small uk-margin-remove-bottom uk-text-primary">1.6+</h1>
                        </div>
                        <div>
                            <h3 class="uk-margin-small-bottom">Million</h3>
                            <p class="uk-margin-remove uk-text-small uk-text-uppercase">Registered trading accounts</p>
                        </div>
                    </div>
                </div>
                <div class="uk-visible@m">
                    <div class="uk-flex uk-flex-left uk-flex-middle">
                        <div class="uk-margin-medium-right">
                            <h1 class="uk-heading-small uk-margin-remove-bottom uk-text-primary">48+</h1>
                        </div>
                        <div>
                            <h3 class="uk-margin-small-bottom">Million</h3>
                            <p class="uk-margin-remove uk-text-small uk-text-uppercase">Trade executed per years*</p>
                        </div>
                    </div>
                </div>
            </div>
            <p><span class="uk-text-primary">*</span>Data based on year-to-date Profit Inc activity <span class="uk-text-primary"> (last update end of Q2 2020)</span></p>
        </div>
    </div>
</div>
<!-- section content end -->