<!-- section content begin -->
<div class="uk-section uk-padding-large in-padding-large-vertical@s in-profit-12">
    <div class="uk-container">
        <div class="uk-grid-large uk-flex uk-flex-center" data-uk-grid>
            <div class="uk-width-1-2@m uk-text-center">
                <div class="uk-card uk-card-default uk-border-rounded uk-box-shadow-medium">
                    <div class="uk-card-body">
                    	<div id="tradingview-widget"></div>
                    </div>
                </div>
                <a class="uk-text-uppercase uk-text-small" href="#">See all instruments</a>
            </div>
            <div class="uk-width-1-2@m">
                <h2>Live Fx & Spot Metal Quotes</h2>
                <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse nihil molestiae consequatu vel illum qui dolorem.</p>
                <ul class="uk-list in-list-check uk-margin-bottom">
                    <li>Ultra-competitive pricing</li>
                    <li>Trading flexibility</li>
                    <li>Award-winning platform</li>
                </ul>
                <h5 class="uk-heading-bullet ">Trade wherever you are, whenever you want to.</h5>
                <div class="uk-flex" data-uk-margin>
                    <a href="#" class="uk-button in-button-app uk-margin-small-right">
                        <i class="fab fa-google-play fa-2x"></i>
                        <span class="wrapper">Download from<br><span>Play Store</span></span>
                    </a>
                    <a href="#" class="uk-button in-button-app">
                        <i class="fab fa-apple fa-2x"></i>
                        <span class="wrapper">Download from<br><span>App Store</span></span>
                    </a>
                </div>
            </div>
            <div class="uk-width-5-6@m in-offset-bottom-40">
                <div class="uk-grid-divider uk-child-width-1-2@s uk-child-width-1-4@m uk-margin-top uk-text-center" data-uk-grid>
                    <div>
                        <h2>&lt; 7.12 ms</h2>
                        <p class="uk-text-uppercase uk-text-small uk-text-primary">Average order execution speed</p>
                    </div>
                    <div>
                        <h2>12+</h2>
                        <p class="uk-text-uppercase uk-text-small uk-text-primary">Integrated liquidity providers</p>
                    </div>
                    <div>
                        <h2>&gt; 12,000</h2>
                        <p class="uk-text-uppercase uk-text-small uk-text-primary">Executed orders per second</p>
                    </div>
                    <div>
                        <h2>$545 k</h2>
                        <p class="uk-text-uppercase uk-text-small uk-text-primary">Average trading volume per day</p>
                    </div>
                </div>
                <div class="uk-text-center uk-margin-medium-top">
                    <a href="#" class="uk-button uk-button-primary uk-border-rounded">Setup your trading account</a>
                    <a href="#" class="uk-button uk-button-default uk-border-rounded uk-margin-small-left">Discover our platform</a>
                    <p>Registration takes only 40 seconds!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->