<!-- section content begin -->
<div class="uk-section uk-padding-large uk-background-contain in-padding-large-vertical@s in-offset-bottom-80 in-profit-17" data-src="{{root}}img/in-profit-decor-3.svg" data-uk-img>
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center" data-uk-grid>
            <div class="uk-width-5-6@m">
                <div class="uk-grid uk-child-width-1-2@m uk-flex" data-uk-grid>
                    <div class="in-offset-bottom-20 uk-flex-last uk-flex-first@m">
                        <img src="{{root}}img/in-lazy.svg" data-src="{{root}}img/in-profit-mockup-3.png" alt="profit-mockup" width="472" height="348" data-uk-img>
                    </div>
                    <div>
                        <h2>Platform by traders,<br>for traders</h2>
                        <p class="uk-text-lead">Seize your opportunity, with technology built designed to ensure that your deal goes through.</p>
                        <div class="uk-flex uk-margin-medium-top">
                            <a href="#" class="uk-button in-button-app">
                                <i class="fab fa-google-play fa-2x"></i>
                                <span class="wrapper">Download from<br><span>Play Store</span></span>
                            </a>
                            <a href="#" class="uk-button in-button-app uk-margin-small-left">
                                <i class="fab fa-apple fa-2x"></i>
                                <span class="wrapper">Download from<br><span>App Store</span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->