<!-- slideshow content begin -->
<div class="uk-section uk-padding-remove-vertical">
    <div class="in-slideshow uk-visible-toggle" data-uk-slideshow>
        <ul class="uk-slideshow-items">
            <li>
    <div class="uk-container">
        <div class="uk-grid" data-uk-grid>
            <div class="uk-width-1-2@m">
                <div class="uk-overlay">
                    <h1>Multi-award <span class="in-highlight">winning</span> forex provider.</h1>
                    <p class="uk-text-lead uk-visible@m">We have been proud to offer traders a powerful and advanced trading platform technologies</p>
                    <div class="in-slideshow-button">
                        <a href="#" class="uk-button uk-button-primary uk-border-rounded">Open account</a>
                        <a href="#" class="uk-button uk-button-default uk-border-rounded uk-margin-small-left uk-visible@m">Discover platform</a>
                    </div>
                    <p class="uk-text-small"><span class="uk-text-primary">*</span>Trading in Forex/ CFDs is highly speculative and carries a high level of risk.</p>
                </div>
            </div>
            <div class="uk-position-center">
                <img class="uk-animation-slide-top-small" src="{{root}}img/in-lazy.svg" data-src="{{root}}img/in-slideshow-image-4.png" alt="slideshow-image" width="862" height="540" data-uk-img>
            </div>
        </div>
    </div>
</li> <li>
    <div class="uk-container">
        <div class="uk-grid" data-uk-grid>
            <div class="uk-width-1-2@m">
                <div class="uk-overlay">
                    <h1>Get more <span class="in-highlight">freedom</span> in the markets.</h1>
                    <p class="uk-text-lead uk-visible@m">Trade Cryptocurrencies, Stock Indices, Commodities and Forex from a single account</p>
                    <div class="in-slideshow-button">
                        <a href="#" class="uk-button uk-button-primary uk-border-rounded">Open account</a>
                        <a href="#" class="uk-button uk-button-default uk-border-rounded uk-margin-small-left uk-visible@m">Discover account</a>
                    </div>
                    <p class="uk-text-small"><span class="uk-text-primary">*</span>Trading in Forex/ CFDs is highly speculative and carries a high level of risk.</p>
                </div>
            </div>
            <div class="uk-position-center">
                <img class="uk-animation-slide-top-small" src="{{root}}img/in-lazy.svg" data-src="{{root}}img/in-slideshow-image-1.png" alt="slideshow-image" width="862" height="540" data-uk-img>
            </div>
        </div>
    </div>
</li>
        </ul>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" data-uk-slidenav-previous data-uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" data-uk-slidenav-next data-uk-slideshow-item="next"></a>
        <div class="uk-container in-slideshow-feature uk-visible@m">
            <div class="uk-grid uk-flex uk-flex-center">
                <div class="uk-width-3-4@m">
                    <div class="uk-child-width-1-4" data-uk-grid>
                        <div class="uk-flex uk-flex-middle">
                            <div class="in-icon-wrap small circle uk-box-shadow-small uk-margin-small-right">
                                <i class="fas fa-drafting-compass"></i>
                            </div>
                            <div>
                                <p class="uk-text-bold uk-margin-remove">Enhanced Tools</p>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-middle">
                            <div class="in-icon-wrap small circle uk-box-shadow-small uk-margin-small-right">
                                <i class="fas fa-book"></i>
                            </div>
                            <div>
                                <p class="uk-text-bold uk-margin-remove">Trading Guides</p>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-middle">
                            <div class="in-icon-wrap small circle uk-box-shadow-small uk-margin-small-right">
                                <i class="fas fa-bolt"></i>
                            </div>
                            <div>
                                <p class="uk-text-bold uk-margin-remove">Fast execution</p>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-middle">
                            <div class="in-icon-wrap small circle uk-box-shadow-small uk-margin-small-right">
                                <i class="fas fa-percentage"></i>
                            </div>
                            <div>
                                <p class="uk-text-bold uk-margin-remove">0% Commission</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slideshow content end -->