<!-- footer begin -->
<footer>
    <div class="uk-section uk-section-secondary uk-padding-large uk-padding-remove-horizontal uk-margin-medium-top">
        <div class="uk-container">
            <div class="uk-child-width-1-2@s uk-child-width-1-5@m uk-flex uk-margin-small-top" data-uk-grid="">
                <div>
                    <h4 class="uk-heading-bullet">Overview</h4>
                    <ul class="uk-list uk-link-text">
                        <li><a href="#">Stock indices</a></li>
                        <li><a href="#">Commodities</a></li>
                        <li><a href="#">Forex</a></li>
                    </ul>
                </div>
                <div>
                    <h4 class="uk-heading-bullet">Company</h4>
                    <ul class="uk-list uk-link-text">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div>
                    <h4 class="uk-heading-bullet">Legal</h4>
                    <ul class="uk-list uk-link-text">
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy &amp; Policy</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="uk-visible@m">
                    <h4 class="uk-heading-bullet">Support</h4>
                    <ul class="uk-list uk-link-text">
                        <li><a href="#">Documentation</a></li>
                    </ul>
                </div>
                <div class="uk-flex-first uk-flex-last@m">
                    <div class="footer-logo">
                        <img class="uk-margin-bottom uk-display-block" src="{{root}}img/user/footer-logo-wXvCAq.svg" alt="footer-logo" width="130" height="36" data-uk-img="">
                    </div>
                    <ul class="uk-list uk-link-text uk-margin-remove-top">
                        <li><a href="#"><i class="fas fa-envelope uk-margin-small-right"></i>info@profit.id</a></li>
                        <li><a href="#"><i class="fas fa-map-marker-alt uk-margin-small-right"></i>Jakarta, Indonesia</a></li>
                    </ul>
                </div>
            </div>
            <div class="uk-grid uk-flex uk-flex-center uk-margin-large-top uk-margin-small-bottom" data-uk-grid="">
                <div class="uk-width-5-6@m uk-margin-bottom">
                    <div class="footer-warning in-margin-top-20@s">
                        <h5 class="uk-text-small uk-text-uppercase"><span>Risk Warning</span></h5>
                        <p class="uk-text-small">Trading derivatives and leveraged products carries a high level of risk, including the risk of losing substantially more than your initial investment. It is not suitable for everyone. Before you make any decision in relation to a financial product you should obtain and consider our Product Disclosure Statement (PDS) and Financial Services Guide (FSG) available on our website and seek independent advice if necessary </p>
                    </div>
                </div>
                <div class="uk-width-1-2@m">
                    <p class="copyright-text">© Profit Inc 2020. All rights reserved.</p>
                </div>
                <div class="uk-width-1-2@m uk-flex uk-flex-right@m">
                    {{> component-social-media }}
                </div>
            </div>
        </div>        
    </div>
</footer>
<!-- footer end -->