<!-- slideshow content begin -->
<div class="uk-section uk-padding-remove-vertical">
    <div class="in-slideshow uk-visible-toggle" data-uk-slideshow>
        <ul class="uk-slideshow-items">
            {{slide-id}}
        </ul>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" data-uk-slidenav-previous data-uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" data-uk-slidenav-next data-uk-slideshow-item="next"></a>
        <div class="uk-container in-slideshow-feature uk-visible@m">
            <div class="uk-grid uk-flex uk-flex-center">
                <div class="uk-width-3-4@m">
                    <div class="uk-child-width-1-4" data-uk-grid>
                        <div class="uk-flex uk-flex-middle">
                            <div class="in-icon-wrap small circle uk-box-shadow-small uk-margin-small-right">
                                <i class="fas fa-drafting-compass"></i>
                            </div>
                            <div>
                                <p class="uk-text-bold uk-margin-remove">Enhanced Tools</p>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-middle">
                            <div class="in-icon-wrap small circle uk-box-shadow-small uk-margin-small-right">
                                <i class="fas fa-book"></i>
                            </div>
                            <div>
                                <p class="uk-text-bold uk-margin-remove">Trading Guides</p>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-middle">
                            <div class="in-icon-wrap small circle uk-box-shadow-small uk-margin-small-right">
                                <i class="fas fa-bolt"></i>
                            </div>
                            <div>
                                <p class="uk-text-bold uk-margin-remove">Fast execution</p>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-middle">
                            <div class="in-icon-wrap small circle uk-box-shadow-small uk-margin-small-right">
                                <i class="fas fa-percentage"></i>
                            </div>
                            <div>
                                <p class="uk-text-bold uk-margin-remove">0% Commission</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slideshow content end -->