$label-padding-vertical:                         0px;
$label-padding-horizontal:                       10px;
$label-background:                               #2788ed;
$label-line-height:                              $global-line-height;
$label-font-size:                                0.813rem;
$label-color:                                    $global-inverse-color;

$label-success-background:                       $global-success-background;
$label-success-color:                            $label-color;
$label-warning-background:                       $global-warning-background;
$label-warning-color:                            $label-color;
$label-danger-background:                        $global-danger-background;
$label-danger-color:                             $label-color;