// theme colors
$primary: #FD6A4F;
$secondary: #463A5C;
$success: #3BD297;
$info: #1980EC;
$warning: #FAA05A;
$danger: #EE4F6F;
$light: #E9E8F0;
$dark: #3F3453;
$background: #FFFFFF;
$body: #717070;
$link: #FD6A4F;